
.GooFlow_tool{float:left;padding:0px 3px;overflow:hidden;clear:left;border-right:#ccc 1px solid}
.GooFlow_tool_div{overflow-y:auto;border-radius:2px;padding:2px;  /* width:24px;*/ }

.GooFlow_tool span{height:0px;overflow:hidden;border-top:#ccc 1px solid;margin:3px 1px;clear:both;display:block;}
.GooFlow_tool_btn{
    display:block;border:0px;
    /*height:18px;width:18px;*/
    cursor:default;
    padding:2px;margin:3px 1px;outline:none;blr:expression(this.onFocus=this.blur());
    box-sizing: border-box;
    text-decoration: none;
}
.GooFlow_tool_btn i{
    display:block;overflow:hidden;
    /*width:18px;height:18px;*/
    border:0px ;
}
.GooFlow_tool_div a em {
    display:  block;
    color: black;
}
.GooFlow_tool_div a code {
    color: black;
    font-size:12px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    .GooFlow_tool_div a code {
        color: black;
        font-family: arialg;
        font-size: 12px;
    }
}
.GooFlow_tool_btn:hover{
    border-radius:3px;padding:0px;border:#99B1CE 1px solid;
    /*width:20px;height:20px;*/
    background:#fff;
    box-sizing: border-box;
}
.GooFlow_tool_btn:hover i{margin:1px;border-radius:2px}
.GooFlow_tool_btndown{
    cursor:default;margin:3px 1px;outline:none;blr:expression(this.onFocus=this.blur());
    border-radius:3px;padding:2px;background:#FFBF00;display:block;
    box-sizing: border-box;
    text-decoration: none;
}
.GooFlow_tool_btndown i{
    display:block;overflow:hidden;
    width:18px;height:18px;
    border-radius:2px
}


.GooFlow .ico_cursor{background:url(../img/gooflow_icon.png) no-repeat 2px -20px}
.GooFlow .ico_BeginNode{background:url(../img/gooflow_icon.png) no-repeat -19px -20px}
.GooFlow .ico_EndNode{background:url(../img/gooflow_icon.png) no-repeat -39px -20px}
.GooFlow .ico_IfNode{background:url(../img/gooflow_icon.png) no-repeat -59px -20px}
.GooFlow .ico_GjjIfNode{background:url(../img/gooflow_icon.png) no-repeat -59px -20px}
.GooFlow .ico_SleepExeNode{background:url(../img/gooflow_icon.png) no-repeat -78px -20px}
.GooFlow .ico_BaseLine{background:url(../img/gooflow_icon.png) no-repeat -137px -20px}
.GooFlow .ico_LoggerExeNode{background:url(../img/gooflow_icon.png) no-repeat -96px -20px}
.GooFlow .ico_JsonStrParseMapNode{background:url(../img/gooflow_icon.png) no-repeat -116px -20px}
.GooFlow .ico_JsonStrParseListNode{background:url(../img/gooflow_icon.png) no-repeat -116px -20px}
.GooFlow .ico_InitDriverExeNode{background:url(../img/gooflow_icon.png) no-repeat -19px -45px}
.GooFlow .ico_BrowserOpenNode{background:url(../img/gooflow_icon.png) no-repeat 2px -45px}
.GooFlow .ico_DestoryDriverExeNode{background:url(../img/gooflow_icon.png) no-repeat -38px -45px}
.GooFlow .ico_DocClickExeNode{background:url(../img/gooflow_icon.png) no-repeat -59px -45px}
.GooFlow .ico_PageDriverExeNode{background:url(../img/gooflow_icon.png) no-repeat -135px -45px}
.GooFlow .ico_DocSendKeysExeNode{background:url(../img/gooflow_icon.png) no-repeat 1px -65px}
.GooFlow .ico_HttpRequestExeNode{background:url(../img/gooflow_icon.png) no-repeat -18px -65px}
.GooFlow .ico_ImgVerificationCodeExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_NumValExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_ListDataTransformExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_CrawlerFlowExceptionNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_HtmlParseDocumentExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_DocumentElementExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_DateFormatExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_GjjLoginExeNode{background:url(../img/gooflow_icon.png) no-repeat -18px -65px}
.GooFlow .ico_GjjClassLoadNode{background:url(../img/gooflow_icon.png) no-repeat -18px -65px}
.GooFlow .ico_GjCrawlerExeNode{background:url(../img/gooflow_icon.png) no-repeat -18px -65px}

.GooFlow .ico_ListTotalExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}

.GooFlow .ico_ListIteratorExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_ListMergeExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_RandomNumGeneratorNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}

.GooFlow .ico_JsStrEvalExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}

.GooFlow .ico_RedisSaveExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_RedisLoadExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_FilterDataExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_KafkaProducerExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}
.GooFlow .ico_ListUniteExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}


.GooFlow .ico_Base64ExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}

.GooFlow .ico_StringPatternMatcherExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}


.GooFlow .ico_EncryptExeNode{background:url(../img/gooflow_icon.png) no-repeat -117px -45px}

